@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

/* general text formatting */

h1, h2, h3, nav, footer {
 font-family: 'Merriweather', serif; 
}
body {
   font-family: 'Open Sans', Arial, sans-serif;
   font-size: 16px;
}


legend {
   background-color: #616161 ;
   color: white;
   width: 90%;
   padding-top: 5px;
   padding-bottom: 5px;
   text-align: center;
   font-size: large;
}

fieldset {
   margin: 1em auto;
   background-color: #F5F5F5;
   padding: 5px;
   border: 2px solid #616161;
}

div#searchBox, div#settingsBox, div#paintingBox {
   margin: 0.2em auto;
   margin-left: 2em;
   margin-right: 2em;
   background-color: #E0E0E0;
   border: 1pt solid #616161;
   padding: 5px;
   padding-top: 20px;
   padding-bottom: 20px;

}
div#searchBox { margin-top: 1em; }
div#artistBox { 
   background-color: #EEEEEE;
    
}

div#paintingBox {
   margin-top: 1em;
   margin-bottom: 1em;
}


table thead {
   background-color: #E0E0E0 ;
    
}

caption {
   background-color: #BDBDBD;

}

/* form formatting */

.radio-buttons {
   display: inline-block;
}

table {
   width: 100%;
   border-collapse: collapse;
}

table thead {
   background-color: darkgray
}

table caption {
   font-size: 1.5em;
   font-weight: bold;
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
}

table tbody tr:nth-child(odd) {
   background-color: #F5F5F5;
}

table tbody tr, table thead tr {
   border-bottom: 2px solid #BDBDBD;
}

table tbody tr:last-child {
   border-bottom: none;
}


table  tr td button {
   background-color: silver;
   border: none;
   padding: 5px;
   margin: 5px;
   border-radius: 5px;
}

table tr td button:hover {
   background-color: lightblue;
   color: white;
}

table {
   text-align: left;
}

table tbody tr td img {
   width: 100px;
   height: 100px;
   margin: 5px;
   padding: 5px;
   border: 1px solid #616161;
}

table tbody tr td button img {
   width: 20px;
   height: 20px;
   margin: 0;
   padding: 0;
   border: none;
}





